# static files
recursive-include jupyter_datatables/css *.css
recursive-include jupyter_datatables/js *.js

graft assets

include LICENSE
include README.md

# setuptools
include Pipfile
include requirements.in
include requirements.txt

# Documentation
graft docs
exclude docs/\#*

# docs subdirs we want to skip
prune docs/build
prune docs/dist

# Examples
graft examples

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints

# JS files
graft js
prune js/node_modules

