[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipykernel = "*"
pylint = "*"
black = "*"
autopep8 = "*"

[packages]
ipython = "*"
ipykernel = "*"
pandas = ">=0.23.0"
scipy = "*"
# nbextensions
jupyter-require = ">=0.3.0"
jupyter_contrib_nbextensions = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
