/*
 * DataTables custom stylesheet
 *
 * @file jupyter-datatables.css
 */


.dt-button.is-disabled {
    background-color: #fff;
    border-color: #dbdbdb;
    box-shadow: none;
    opacity: .5;
    cursor: not-allowed;
}

.dt-chart-toolbar {
    text-align: left;
}

.dt-chart-settings-container {
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    font-size: .875rem;
    position: absolute;
    z-index: 20;
}

.dt-chart-settings {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.10rem;
}

.dt-chart-menu-label:first-child {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0.85em;
}

table.dataTable {
    border-collapse: separate !important;
    border-spacing: 0;

    clear: both;

    table-layout: auto !important;
}


table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: thin solid #ddd;
}

table.dataTable td.column-data-preview {
    padding: 11px 7px;
}


/* Allow overlay by menu content */
.dataTables_scrollBody {
    z-index: auto;
}

/* address double thead sorting rows */
.dataTables_scrollBody thead:not(.data-preview) {
    visibility: collapse;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    padding-bottom: 20px;

    border-bottom: none;
}

.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
    border-top: thin solid #ddd;
    border-bottom: thin solid #ddd;
}


.dataTables_wrapper input {
    display: inline-block;

    padding: 0.375rem 0.75rem;

    height: calc(2.75rem + 5px);
    line-height: 1.5;

    color: #495057;
    background-color: #fff;
    background-clip: padding-box;

    border: thin solid #ced4da;
    border-radius: 0.25rem;

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.dataTables_wrapper label {
    margin-right: 0 !important;
    margin-bottom: 11px;

    box-sizing: border-box;

    white-space: nowrap;
}


.dataTables_wrapper select {
    display: inline-block;

    padding: 0.375rem 2.75rem 0.375rem 1.75rem;

    height: calc(2.75rem + 5px);
    line-height: 1.5;

    vertical-align: middle;

    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: auto 11px;

    border: thin solid #ced4da;
    border-radius: 0.25rem;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.dataTables_wrapper select.dtype {
    padding: 0 1.75rem;

    font-size: 9px;
    height: calc(1.25rem + 5px);

    background: #ffdd57;
    color: rgba(0,0,0,.7);

    border: none;
    border-radius: 0.25rem;

    text-transform: uppercase;
}
